@media (min-width: 1400px) {

  .container,
  .container-fulid {
    width: 1320px !important;
  }

  header.header_main {
    position: sticky;
  }

  .developer-resume__tab-wrapper .developer-about__area {
    gap: 100px;
    justify-content: space-between;
  }

  section .hero_section .hero_text .left h3 {
    font-size: 68px;
  }
}


@media (min-width: 1200px) and (max-width: 1399px) {
  .container {
    width: 1140px;
  }

  header.header_main {
    position: sticky;
  }

  .developer-resume__tab-wrapper .developer-about__area {
    gap: 50px;
  }

  section .hero_section .hero_text .left h3 {
    font-size: 68px;
  }
}


@media (min-width: 992px) and (max-width: 1199px) {

  .container,
  .container-fulid {
    width: 960px !important;
  }

  section .hero_section .hero_text .left h3 {
    font-size: 68px;
  }

  header.header_main .overlay_content {
    justify-content: space-between;
  }

  .header_main .overlay_content {
    padding: 12px 75px !important;
  }

  .menu-btn {
    display: block !important;
  }

  .let-btn {
    display: none !important;
  }

  .menu {
    display: none;
  }

  .header_main {
    overflow: visible !important;
  }

  .menu {
    display: block;
    position: absolute;
    top: 98px;
    height: 100vh;
    text-align: center;
    border: 3px solid transparent;
    background-color: transparent;
    width: 50%;
    right: 0;
    transform: translateX(800px);
    transition: ease-in-out 0.9s;
    z-index: -999;
  }

  .menu ul li a:hover {
    color: #e8bf96;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas-2 {
    display: block !important;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    display: none;
  }

  .hero_section .arrow {
    display: none;
  }

  .developer-resume__tab-wrapper .developer-about__area {
    gap: 10px;
  }

  .developer-about__area>.col-6 {
    width: 56%;
  }

  #services .container .row .col-3 {
    width: 50%;
  }

  .mil-services-grid .mil-services-grid-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .mil-services-grid .mil-services-grid-item {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }
}


@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 720px;
  }

  /* ==== */

  section .hero_section .hero_text .left h3 {
    font-size: 68px;
  }

  header.header_main .overlay_content {
    justify-content: space-between;
  }

  .header_main .overlay_content {
    padding: 12px 22px !important;
  }

  .menu-btn {
    display: block !important;
  }

  .let-btn {
    display: none !important;
  }

  .menu {
    display: none;
  }

  .header_main {
    overflow: visible !important;
  }

  .menu {
    display: block;
    position: absolute;
    top: 98px;
    height: 100vh;
    text-align: center;
    border: 3px solid transparent;
    background-color: transparent;
    width: 50%;
    right: 0;
    transform: translateX(600px);
    transition: ease-in-out 0.5s;
    z-index: -999;
  }

  .menu ul li a:hover {
    color: #e8bf96;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
  }

  section .hero_section .arrow {
    width: 343px;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas-2 {
    display: block;
  }

  .col-6 .developer-about__img {
    background-size: 100%;
    height: 445px;
  }

  .col-6 .developer-about__img .about-me {
    max-width: 100%;
    height: 435px;
    border-radius: 0 0 270px 270px;
  }

  .col-6 .developer-about__img .about-shape-1 {
    bottom: 20px;
    width: 20%;
  }

  .col-6 .developer-about__img .about-shape-2 {
    bottom: -25px;
    width: 45%;
    inset-inline-start: 120px;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    display: none;
  }

  .hero_section .arrow {
    display: none;
  }

  .developer-resume__tab-wrapper .developer-about__area {
    gap: 10px;
  }

  #services .container .row .col-3 {
    width: 50%;
  }

  .mil-services-grid .mil-services-grid-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .mil-services-grid .mil-services-grid-item {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }

  .footer .col-4 {
    width: 50%;
  }

  .footer .footer-widget:first-child {
    padding-bottom: 40px;
  }
}

/* ==== */



@media (min-width: 576px) and (max-width: 767px) {
  .container {
    width: 520px;
  }

  section .hero_section .hero_text .left h3 {
    font-size: 68px;
  }

  header.header_main .overlay_content {
    justify-content: space-between;
  }

  .header_main .overlay_content {
    padding: 12px 22px !important;
  }

  .menu-btn {
    display: block !important;
  }

  .let-btn {
    display: none !important;
  }

  .menu {
    display: none;
  }

  .header_main {
    overflow: visible !important;
  }

  .menu {
    display: block;
    position: absolute;
    top: 98px;
    height: 100vh;
    text-align: center;
    border: 3px solid transparent;
    background-color: transparent;
    width: 50%;
    right: 0;
    transform: translateX(400px);
    transition: all 0.9s;
    z-index: -999;
  }

  .menu ul li a:hover {
    color: #e8bf96;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
  }

  section .hero_section .hero_text .left {
    width: 100%;
  }

  section .hero_section .arrow {
    width: 343px;
  }

  section .hero_section .hero_text {
    display: block !important;
    font-size: 68px;
    padding: 70px 0px ;
  }

  section .hero_section .hero_text .right {
    width: 100%;
    margin-top: 75px;
    margin-left: 4%;
    text-align: left;
  }

  section .hero_section .hero_text .right h3 {
    font-size: 68px;
  }

  .developer-about__area {
    display: block !important;
  }

  .hero_section .arrow {
    display: none;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas-2 {
    display: block !important;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    display: none;
  }

  .developer-resume__tab-wrapper .developer-about__area {
    gap: 10px;
  }

  .col-6 .developer-about__img {
    background-size: 100%;
    height: 547px;
  }

  .col-6 .developer-about__img .about-me {
    max-width: 100%;
    height: 530px;
    border-radius: 0 0 270px 270px;
  }

  .col-6 .developer-about__img .about-shape-1 {
    bottom: 20px;
    width: 20%;
  }

  .col-6 .developer-about__img .about-shape-2 {
    bottom: -25px;
    width: 45%;
    inset-inline-start: 120px;
  }

  #services .container .row .col-3 {
    width: 100%;
  }

  .mil-services-grid .mil-services-grid-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .mil-services-grid .mil-services-grid-item {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }

  .experience__grid {
    display: block !important;
  }

  .experience__grid::after {
    display: none;
  }

  .post-meta span {
    font-size: 14px;
  }

  .tab-pane .developer-resume-tab-box .col-6 {
    width: 100%;
  }

  .mil-complex-text .mil-h1 {
    font-size: 68px;
  }

  .col-4,
  .col-7 {
    width: 100% !important;
  }

  .footer-btn {
    display: flex;
    justify-content: center;
  }

  .developer-resume__tab-menu .about__bio {
    margin: 0px;
    background-color: transparent;
    margin-bottom: 30px !important;
  }

  .footer .col-4 {
    width: 50%;
  }

  .footer .footer-widget:first-child {
    padding-bottom: 40px;
  }

}


@media  (max-width: 575px) {
  .container {
    width: 100%;
  }

  section .hero_section .hero_text .left h3 {
    font-size: 68px;
  }

  section .hero_section .hero_text .right h3 {
    font-size: 68px;
  }

  section .hero_section .hero_text .left {
    width: 100%;
  }

  section .hero_section .hero_text {
    display: block !important;
    font-size: 68px;
    padding-top: 70px 0px;
  }

  section .hero_section .hero_text .right {
    width: 100%;
    margin-top: 75px;
    margin-left: 4%;
    text-align: start !important;
  }

  header.header_main .overlay_content {
    justify-content: space-between;
  }

  .header_main .overlay_content {
    padding: 12px 22px !important;
  }

  .menu-btn {
    display: block !important;
  }

  .let-btn {
    display: none !important;
  }

  .menu {
    display: none;
  }

  .header_main {
    overflow: visible !important;
  }

  .menu {
    display: block;
    position: absolute;
    top: 98px;
    height: 100vh;
    text-align: center;
    border: 3px solid transparent;
    background-color: transparent;
    width: 50%;
    right: 0;
    transform: translateX(400px);
    transition: 0.5s;
    z-index: -999;
  }

  .menu ul li a:hover {
    color: #e8bf96;
  }

  .menu ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 10px;
  }

  section .hero_section .arrow {
    width: 343px;
  }

  section .hero_section .hero_text {
    display: block !important;
  }

  section .hero_section .hero_text .right {
    margin-top: 70px;
    margin-left: 4%;
    text-align: start !important;
  }

  .developer-about__area {
    display: block !important;
  }

  .hero_section .arrow {
    display: none;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas {
    display: none;
  }

  .button-container-1 .mas-2 {
    display: block !important;
  }

  .owl-nav {
    display: none;
  }

  .owl-dots {
    display: none;
  }

  .developer-resume__tab-wrapper .developer-about__area {
    gap: 10px;
  }

  .col-6 .developer-about__img {
    background-size: 100%;
    height: 547px;
  }

  .col-6 .developer-about__img .about-me {
    max-width: 100%;
    height: 530px;
    border-radius: 0 0 270px 270px;
  }

  .col-6 .developer-about__img .about-shape-1 {
    bottom: 20px;
    width: 20%;
    display: none !important;
  }

  .col-6 .developer-about__img .about-shape-2 {
    bottom: -25px;
    width: 45%;
    inset-inline-start: 120px;
    display: none !important;
  }

  #services .container .row .col-3 {
    width: 100%;
  }

  .mil-services-grid .mil-services-grid-item {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  }

  .mil-services-grid .mil-services-grid-item {
    border-left: solid 1px rgba(255, 255, 255, 0.1);
  }

  .experience__grid {
    display: block !important;
  }

  .experience__grid::after {
    display: none;
  }

  .post-meta span {
    font-size: 14px;
  }

  .tab-pane .developer-resume-tab-box .col-6 {
    width: 100%;
  }

  .developer-resume__tab-menu .about__bio {
    margin: 0px;
    background-color: transparent;
    margin-bottom: 30px !important;
  }

  .col-4,
  .col-7 {
    width: 100% !important;
  }

  .footer-btn {
    display: flex;
    justify-content: center;
  }

  .footer .col-4 {
    width: 50%;
  }

  .footer .footer-widget:first-child {
    padding-bottom: 40px;
  }

  .mil-complex-text .mil-h1 {
    font-size: 52px;
  }

  .mil-mb-15 .mil-center {
    text-align: right !important;
  }

  .mil-h1.mil-center {
    text-align: left;
  }

  .mil-complex-text .mil-text-image {
    height: 80px;
    width: 180px;
  }

}